<div class = "col-md-12">
    <div class = "page-header">
        <h1>Joe Robinson - CSC 667</h1>
    </div>
    <div class = "row">
        <div class = "col-md-12">
            <form class = "form-horizontal" role = "form">
                <div class="form-group">
                    <label for="input_time" class="col-md-2 control-label">Time</label>
                    <div class = "col-md-4">
                        <input class="form-control" id="input_time">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_description" class="col-md-2 control-label">Description</label>
                    <div class = "col-md-4">
                        <input class="form-control" id="input_description">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class = "col-md-12">
        <table class = "table table-bordered" id = "calendar">
            <tr id  = "controls">
                <td align = "center" colspan = "1"> 
                    <button type="button" class="btn btn-primary" id = "dec_year"> << </button>
                </td>
                <td align = "center" colspan = "1">
                    <button type="button" class="btn btn-primary" id = "dec_month"> < </button>
                </td>
                <td align = "center" colspan = "3"> <p id = "month_year"> </p> </td>
                <td align = "center" colspan = "1">
                    <button type="button" class="btn btn-primary" id = "inc_month"> > </button>
                </td>
                <td align = "center" colspan = "1">
                    <button type="button" class="btn btn-primary" id = "inc_year"> >> </button>
                </td>
            </tr>
            <tr>
                <td align = "center"> Sun </td>
                <td align = "center"> Mon </td>
                <td align = "center"> Tue </td>
                <td align = "center"> Wed </td>
                <td align = "center"> Thu </td>
                <td align = "center"> Fri </td>
                <td align = "center"> Sat </td>
            </tr>
        </table>
    </div>
</div>
