<div class = "col-md-12">
    <div class = "page-header">
        <h1>Joe Robinson - CSC 667</h1>
    </div>
    <div class = "col-md-6">
        <ol class = "list-group">
            <li class = "list-group-item">1. Verified jQuery already existed in the rails app.</li>
            <li class = "list-group-item">2. Use "bootstrap-sass-rails" gem for Twitter Bootstrap access. </li>
            <li class = "list-group-item">3. Updated application.js and application.css to require Bootstrap. </li>
            <li class = "list-group-item">4. Added project_2 action, route, and view. </li>
        </ol>
    </div>
</div>